/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Ensures consistent box model */
}

.contact-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
    background-color: var(--background-color);
    color: var(--text-color);
    padding: 2rem;
    text-align: center;
}

.contact-heading {
    font-size: 3rem;
    font-weight: 1500;
    margin-bottom: 1rem;
    color: var(--accent-color);
}

.contact-form {
    width: 100%;
    max-width: 600px;
    min-width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    gap: 1.5rem;
    background-color: var(--background-secondary-color);
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    margin: 0 auto; 
}


.contact-form input,
.contact-form textarea {
    width: 100%; 
    padding: 0.75rem;
    font-size: 1rem;
    color: var(--text-color);
    background-color: var(--background-color);
    border: 1px solid var(--accent-color);
    border-radius: 4px;
    outline: none;
    transition: border-color 0.3s ease;
    box-sizing: border-box; 
}


.contact-form input:focus,
.contact-form textarea:focus {
    border-color: var(--accent-hover-color); 
}


.contact-form button {
    width: 100%; 
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    font-weight: bold;
    color: #FFFFFF; 
    background-color: var(--accent-color);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}


.contact-form button:hover {
    background-color: var(--accent-hover-color); 
    transform: scale(1.05); 
}

/* Mobile adjustments */
@media (max-width: 768px) {
    .contact-heading {
        font-size: 2.5rem;
    }
    .contact-form {
        padding: 1.5rem;
        width: 100%; 
        max-width: none;
    }
    .contact-form button {
        font-size: 0.9rem; 
    }
}

@media (max-width: 500px) {
    .contact-container {
        justify-content: flex-start; /* Aligns items at the top */
    }
    .contact-form {
        width: 100%; /* Ensures full width */
        margin: 0; /* Removes horizontal centering */
        border-radius: 0; /* Optional: removes border radius for a full-width effect */
        padding: 1.5rem; /* Adjust padding for smaller screens */
    }
}